.typing-container-projects {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 30px;
    white-space: nowrap;
    border-right: 2px solid;
    width: 10ch;
    overflow: hidden;
    margin-left: 35%;
    animation: typing 3s steps(24, end) infinite alternate-reverse, blink-caret 0.75s step-end infinite;
}


@keyframes typing {
    from { width: 0; }
    to { width: 10ch; }
}


@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.project_card:nth-child(2),.project_card:nth-child(3){
    animation: appear linear;
    animation-range: entry 0% cover 40%;
    animation-timeline: view();
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}